<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5 text-center">
        <h3>Find me on ...</h3>
        <ul class="social">
            <li><a href="https://www.linkedin.com/in/vlad-tomoiagă-451062100" target="_blank"
                   class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/vladtomoiaga" target="_blank" class="icon brands fa-github"><span
                    class="label">Github</span></a></li>
        </ul>
        <br>
        <ul id="copyright">
            <li>&copy; {{ current_year }} Untitled.</li>
        </ul>
    </div>
</footer>