<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <!-- Link to the styles.css here to apply styling to all the child templates.-->
    {% endblock %}
    <link rel="stylesheet" href="static/assets/css/main.css"/>
</head>
<body>
<!-- Nav -->
<nav id="nav">
    <ul class="container">
        <li><a href="{{ url_for('routes.home')}}">Vlad</a></li>
        <li><a href="{{ url_for('routes.about')}}">About</a></li>
        <li><a href="{{ url_for('routes.contact')}}">Contact</a></li>
    </ul>
</nav>
</body>
</html>