{% extends "base.html" %}
{% block content %}

<!-- Home -->
<article id="top" class="wrapper style2">
    <div class="container">
        <div class="row">
            <div class="col-4 col-5-large col-12-medium">
                <span class="image fit"><img src="./static/images/Vlad.png" alt="Vlad"/></span>
            </div>
            <div class="col-8 col-7-large col-12-medium">
                <header>
                    <h1><strong>Vlad Tomoiaga</strong></h1>
                </header>
                <p>QA (manual and automation)</p>
                <a href="#work" class="button large scrolly">See with what <strong>Technologies</strong> I worked</a>
            </div>
        </div>
    </div>
</article>

<!-- Work -->
<article id="work" class="wrapper style1">
    <header>
        <h2>These are the technologies I worked with</h2>
    </header>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-4">
                <a href="https://www.ranorex.com/" target="_blank"><img src="./static/images/Ranorex.png" alt="Ranorex"
                                                                        class="img-fluid mt-4 mb-4"></a>
            </div>
            <div class="col-4">
                <a href="https://azure.microsoft.com/en-us/products/devops" target="_blank"><img
                        src="./static/images/AzureDevOps.png" alt="Azure DevOps" class="img-fluid mt-4 mb-4"></a>
            </div>
            <div class="col-4">
                <a href="https://www.sap.com/index.html" target="_blank"><img src="./static/images/SAP.png" alt="SAP"
                                                                              class="img-fluid mt-4 mb-4"></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-6">
                <a href="https://www.python.org/" target="_blank"><img src="./static/images/Python.png" alt="Python"
                                                                       class="img-fluid mt-4 mb-4"></a>
            </div>
            <div class="col-6">
                <a href="https://flask.palletsprojects.com/en/stable/" target="_blank"><img
                        src="./static/images/Flask.png" alt="Flask" class="img-fluid mt-4 mb-4"></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-4">
                <a href="https://pandas.pydata.org/" target="_blank"><img src="./static/images/Pandas.png" alt="Pandas"
                                                                          class="img-fluid mt-4 mb-4"></a>
            </div>
            <div class="col-4">
                <a href="https://numpy.org/" target="_blank"><img src="./static/images/NumPy.png" alt="NumPy"
                                                                  class="img-fluid mt-4 mb-4"></a>
            </div>
            <div class="col-4">
                <a href="https://scikit-learn.org/" target="_blank"><img src="./static/images/ScikitLearn.png"
                                                                         alt="Scikit Learn" class="img-fluid mt-4 mb-4"></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-4">
                <a href="https://matplotlib.org/" target="_blank"><img src="./static/images/Matplotlib.png"
                                                                       alt="Matplotlib" class="img-fluid mt-4 mb-4"></a>
            </div>
            <div class="col-4">
                <a href="https://plotly.com/" target="_blank"><img src="./static/images/Plotly.png" alt="Plotly"
                                                                   class="img-fluid mt-4 mb-4"></a>
            </div>
            <div class="col-4">
                <a href="https://scikit-learn.org/" target="_blank"><img src="./static/images/Seaborn.png" alt="Seaborn"
                                                                         class="img-fluid mt-4 mb-4"></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-6">
                <a href="https://www.java.com/en/" target="_blank"><img src="./static/images/Java.png" alt="Java"
                                                                        class="img-fluid mt-4 mb-4"></a>
            </div>
            <div class="col-6">
                <a href="https://spring.io/" target="_blank"><img src="./static/images/Spring.png" alt="Spring"
                                                                  class="img-fluid mt-4 mb-4"></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row aln-center">
            <a href="https://www.postgresql.org/" target="_blank"><img src="./static/images/PostgreSQL.png"
                                                                       alt="PostgreSQL"></a>
        </div>
    </div>
</article>

{% endblock %}
